body {
    margin: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1d1d19;
}

.top-bar {
    width: 100vw;
    background-color: #1d1d19;
    height: 60px;
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 10px;

} .button-search {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    width: 50px;
    display: flex;
    align-items: center;
    background-color: #1d1d19;

} .button-search:hover {
    filter: brightness(1.3);
}

.button-option {
    min-width: 50px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    background-color: #1d1d19;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    user-select: none;
    color: white;
}
.button-option:hover {
    filter: brightness(1.3);
}

.quiz-container {
    width: 60vw;
    background-color: #262621;
    min-height: calc(100vh - 60px);
}

.question {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 0px 0px;
}
.question-name {
    height: 50px;
    font-size: 2em;
    color: white;
    font-family: "Oswald", sans-serif;
}.question-awnser {
    height: 30px;
    font-size: 1.2em;
    color: white;
    font-family: "Oswald", sans-serif;
}